extends layout

block content
  h1= title
  input(type="text", name="inputWord", id="inputWord")
  button(type="botton", name="addWord", onclick="addWord();") Add Word
  ul(id="list")
    li Example
  p(id = "info")
  form(type="form", method="POST", action="/create")
    input(type="submit", name="submit")
    input(type="text", name="data", id="data")