doctype html
html
  head
    title= title
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="js/create.js")
    script(src="js/index.js")
  body
    block content